---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

interface Props {
  collection: 'projects' | 'insights' | 'studio';
  data: any;
}

const { data } = Astro.props as Props;

// idioma (simples por enquanto)
const lang = 'pt';

const title = data.languages?.[lang]?.title;
const summary = data.languages?.[lang]?.summary;
const hero = data.hero;

const createdAt = data.meta?.created_at;
const updatedAt = data.meta?.updated_at;
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={summary} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
      }
      .title {
        text-align: center;
      }
      .date {
        color: rgb(var(--gray));
        margin-bottom: 0.5em;
      }
    </style>
  </head>

  <body>
    <Header />

    <main>
      <article>
        {hero && (
          <div class="hero-image">
            <Image src={hero} width={1020} height={510} alt={title} />
          </div>
        )}

        <div class="prose">
          <div class="title">
            {createdAt && (
              <div class="date">
                <FormattedDate date={createdAt} />
              </div>
            )}

            {updatedAt && (
              <div class="date">
                Atualizado em <FormattedDate date={updatedAt} />
              </div>
            )}

            <h1>{title}</h1>
            <p>{summary}</p>
            <hr />
          </div>

          <slot />
        </div>
      </article>
    </main>

    <Footer />
  </body>
</html>
